<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/jabber.css"/>
    <title>The Almighty Niall.</title>
</head>
<body>
    <div class="niall">
        <div class="face"></div>
    </div>
    <form class="chat" action="" method="post">
        <div class="log"></div>
        <div class="compose">
            <input type="text" name="question"/><input type="submit" value="Ask the Almighty Niall."/>
        </div>
    </form>
</body>
</html>