<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/jabber.css"/>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jabber.js"></script>
    <title>The Almighty Niall.</title>
</head>
<body>
    <div class="niall">
        <div class="face"></div>
    </div>
    <form class="chat" action="" method="post">
        <ul class="log"></ul>
        <div class="compose">
            <input type="text" id="question" name="question"/><input type="submit" value="Ask the Almighty Niall."/>
        </div>
    </form>
</body>
</html>